/*Custom CSS for responsive logo, padding, and fonts*/
.portal-tos {
  padding: 2em;
}
.main-div {
  margin-top: 2em;
  margin-bottom: 2em;
}
.row {
  padding: .5em;
}
.btn {
  margin: 1em;
}
body {
  margin: 40px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: #999;
}
@media (max-width: 993px) {
   .portal-logo {
      max-width: 250px;
    }
}
@media (min-width: 1100px) {
  .portal-tos {
    font-size: 2em;
  }
}
